body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('img/DifficultyBackground.png') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    color: #123E8A;
    font-family: 'Pirata One', cursive;
    overflow: hidden;
}

.mode-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.mode-option {
    width: 300px;
    cursor: pointer;
    transition: transform 0.3s;
}

.mode-option img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid #123E8A;
}

.mode-option h2 {
    font-size: 24px;
}

.mode-option:hover {
    transform: scale(1.1);
}

.difficulty-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.difficulty-option {
    width: 300px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.difficulty-option img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid #123E8A;
}

.difficulty-option h2 {
    font-size: 28px;
}

.difficulty-option:hover {
    transform: scale(1.1);
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.back-button img {
    width: 100%;
    height: auto;
    border: red;
}

.back-button:hover {
    transform: scale(1.1);
}