* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: darkslategray;
    background-image: url("img/NewWorld.png");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .memory-game {
    width: 80vmin;
    height: 80vmin;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: -120px;
  }
  
  .memory-card {
    width: 100%;
    aspect-ratio: 1 / 1;
    height: 100%;
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    border: 2px solid peru;
    backface-visibility: hidden;
    background-color: tan;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }
  
  .music-button {
    position: absolute;
    top: 70px;
    right: 10px;
    background-color: #1C7CCC; /* Blauw thema */
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .music-button:hover {
    background-color: #105a9e;
  }
  
  
  .music-button:hover {
    background-color: #105a9e;
  }
  
  .music-button:active {
    transform: scale(0.95);
  }
  
  
  .back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .back-button img {
    width: 100%;
    height: auto;
  }
  
  .back-button:hover {
    transform: scale(1.1);
  }
  
  .shuffle-button {
    position: absolute;
    top: 80px;
    left: -35px;
    transform: translate(50%);
    width: 100px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .shuffle-button img {
    width: 100%;
    height: auto;
  }
  
  
  
  .scoreboard {
    position: absolute;
    top: 10px;
    right: -11%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Pirata One', cursive;
    display: flex;
    gap: 20px;
}

.current-turn {
    font-weight: bold;
    color: yellow;
}